language: python
fast_finish: true

python:
  - 3.6

os:
  - linux

group: travis_latest

git:
  depth: 3

addons:
  apt:
    packages:
      - gfortran

before_install:
  # this is temporary for pip < 9.1
  - pip -q install numpy

install: pip -q install -e .[tests]

script: 
  - pytest
  - coverage run tests/test_all.py -v

after_success: coveralls

